html {overflow: hidden;resize: both;height: 100%;}
body {font-family: 'Malgun Gothic';	overflow: hidden;height: 100%;width: 100%;margin: 0 auto;
margin-top: 40px;}
path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg{
	position: absolute;
	height: 100%;
  	width: 100%;
}
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:11px;
}
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 70px;                  
  height: 32px;                 
  padding: 2px;             
  font: 12px 留묒� 怨좊뵓;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}