html { overflow:hidden; resize:both; height:100%; }
body { font-family:'NanumBarunGothic','Malgun Gothic';	overflow:hidden; height:100%; width:100%; margin:0 auto; }
#container { height:100%; margin:0 auto; padding-top:50px; }