html { overflow:hidden; resize:both; height:100%; }
body { font-family:'Malgun Gothic';	overflow:hidden; height:100%; width:100%; margin:0 auto; }
svg { position:absolute; height:100%; width:100%; padding-top: 30px; }
