.xw-label-shell {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.xw-label {
	width: 100%;
	height: 100%;
	display: table;
}

.xw-label-cell {
	width: 100%;
	height: 100%;
	display: table-cell;
	white-space: nowrap;
}

.xw-label-label {
	height: 100%;
	height: auto;
	/* word-wrap: break-word; */
	display: inline-block;
	color: #565656;
}

.xw-label-disabled {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.xw-label-edge {
	height: 100%;
	background-repeat: no-repeat;
}

.xw-label-edge-left {
	background-position: left center;
}

.xw-label-edge-right {
	background-position: right center;
}