xwing.Xwing.config = {
	isDebug : true,
	theme : "silver",
	transaction : {
		timeout : 20000,
		url : {
			service : {
				baseUrl : "https://vauat.aig.co.kr/msens",
				timeout : 100000
			}
		}
	},
	datasetMaxRow : 2000,
	mask : {
		masks : {
			'phone' : {
				mask : '(99) 9999-9999'
			},
			'month' : {
				mask : '9999-19'
			},
			'date' : {
				mask : '9999-19-39'
			},
			'time' : {
				mask : '29:59'
			},
			'sec' : {
				mask : '29:59:59'
			},
			'datetime' : {
				mask : '9999-19-39 29:59:59'
			},
			'cc' : {
				mask : '9999-9999-9999-9999'
			},
			'postal' : {
				mask : '999-999'
			},
			'ssn' : {
				mask : '999999-9999999'
			},
			'comma' : {
				mask : '999,999,999,999,999,999',
				type : 'reverse'
			},
			'registno': {
				mask : '999999-9999999'
			},
			'empno': {
				mask : '99999999'
			},
			'extension': {
				mask : '9999'
			},
			'ani': {
				mask : '99999999999'
			}
		}
	},
	fonts : {
		NanumGothic : 'Dotum, 돋움,NanumBarunGothic, NanumGothic, 나눔고딕, ng_normal',
		NanumGothicBold : 'Dotum, 돋움,NanumBarunGothic, NanumGothicBold, NanumGothic, 나눔고딕, ng_bold',
		NanumGothicExtraBold : 'Dotum, 돋움,NanumBarunGothic, NanumGothicExtraBold, NanumGothicBold, NanumGothic, 나눔고딕, ng_xbold',
		WallBoardFond : 'Dotum, 돋움,NanumBarunGothic, 맑은 고딕'
	},
	style : {
		widgets : {
			all : {},
			head_datagrid_cell : {
					fontweight : "bolder",
					fontcolor : "#636363", 
					bgcolor : "#d0d8dd", 
					halign : "center"
				},
			summary_datagrid_cell : {
					fontweight : "bolder",
					fontcolor : "#575E71",
					bgcolor : "#D8DBE5",
					halign : "right"
				},
			body_datagrid_cell : {
				fontsize : 11
			}
		},
		classes : {


			label : {
				fontcolor : "#5E5E5E",
				fontweight: "bold",
				halign: "right",
			},
			label_title : {
				fontcolor : "#5E5E5E",
				fontweight: "bold",
				halign: "left",
				fontsize : 14,
				fontfamily : "WallBoardFond",
				bgimage : "images/line_title_t.png",
				bgimagealign : "left bottom",
				textpadding : "0 0 0 15",
				width : 60,
				height : 49,
				top : 0
			},
			label_subtitle : {
				fontweight: "bold",
				fontsize : 13,
				fontcolor : "#303030",
				fontfamily : "WallBoardFond",
				halign: "right",
			},
			label_lititle : {
				fontweight: "bold",
				fontsize : 13,
				fontcolor : "#303030",
				fontfamily : "WallBoardFond",
				bgimage : "images/icon_texttitle.png",
				bgimagealign : "left center",
				textpadding : "0 0 0 8"
			},
			label_boxtitle: {
				fontweight: "bolder",
				fontsize : 16,
				fontcolor : "#474747",
				fontfamily : "WallBoardFond",
				bgcolor : "#fff",
				shadow : "#bdcad6 0 2 0 0",
				textpadding : "0 0 0 10",
				icon : "images/title_sample.png",
				bgimagealign : "left center",
				haling : "left"
			},
			tab : {
		    	fontcolor : "#fff",
		    	fontsize : 13,
			},

		    tab_select : {
		    	fontcolor : "#01679b", 
		    	fontsize : 13,
				fontweight : "bolder",
				},

			div_grid : {
				bordercolor : "#0000ff"	,
				borderstyle : 'solid',
				bgcolor : "#ffffff",
				borderwidth : 1
			},

			div_head : {
				headgradientcolor : "#68ECC4" ,
				headcolor : "#D1FAEE"
			},

			div_search : {
				bgcolor : "#eff0f1",
				borderwidth : 0,
				shadow : "#A7BACE 0 1 0 0"

			},

			div_perform : {
				bordercolor : "#becada",
				bgcolor : "#eff2f6",
				borderwidth : 1
			},

			div_perform_em : {
				bordercolor : "#becada",
				bgcolor : "#eff2f6",
				borderwidth : 2
			},

			table_border : {
				bordercolor : "#D2D2D2",
				borderstyle : "solid",
				borderwidth : "1"
			},

			btnselect : {
				bordercolor : "#5981F8",
				bgcolor : "#ff80ff",
				bggradientcolor : "#71D0F9",
				fontcolor : "#FA006B",
				width : 300,
				height : 200
			},

			btn_tablr : {
				bgcolor : "#F4F5F6",
				borgerwidth : 0
			},
			btn_search : {
				bgcolor : "#1FABE0",
				fontcolor : "#ffffff",
				fontfamily : "WallBoardFond",
				fontweight: "bold",
				fontsize : 13,

			},
			btn_normal : {
				fontcolor : "#6a6a6a",
				fontfamily : "WallBoardFond",
				fontweight: "bold",
				fontsize : 13,
				height : 22,
				shadow : "0 0 0 0",
			},
			btn_action : {
				bgcolor : "#2579d1",
				fontcolor : "#ffffff",
				fontfamily : "WallBoardFond",
				fontweight: "bold",
				fontsize : 13,
			},
			btn_del : {
				bgcolor : "#FF4A4A",
				fontcolor : "#ffffff",
				fontfamily : "WallBoardFond",
				fontweight: "bold",
				fontsize : 13,
			},
			btn_reset : {
				bgcolor : "#ffffff",
				fontcolor : "#4F4F4F",
				fontfamily : "WallBoardFond",
				fontweight: "bold",
				fontsize : 13,
				borderwidth : "0"
			},

			btn_close : {
				bgcolor : "#77A7F6",
				bggradientcolor :"#3355EB" ,
				bordercolor : "#2241CF",
				icon: "images/arrow_down.png" ,
				iconmargin : "-5 0 0 0"
			},

			split_v : {
				bordercolor : "#ACACAC",
				bgcolor : "#ffffff",
				bggradientcolor : "#E2E2E2",
				borderstyle: "solid",
				height : "6",
				icon : "images/split_v.png"
			},

			split_h : {
				bordercolor : "#ACACAC",
				bgcolor : "#ffffff",
				bggradientcolor : "#E2E2E2",
				borderstyle: "solid",
				width : "6",
				icon : "images/split_h.png"
			},


			btn_border : {
				bordercolor : "#ff0080"
			},

			edit_mand : {
				bordercolor : "#FA006B"

			},

			edit_readonly : {
				fontcolor : "#000000",
				bgcolor : "#E9F3F8",
				readonly: "true"
			},

			edit_mand_readonly : {


				bgcolor : "#E9F3F8",
				readonly: "true"
			},

			combo_readonly : {
				fontcolor : "#000000",
				bgcolor : "#E9F3F8",
				editable: "false"
			},

			combo_mand : {
				bordercolor : "#FA006B"
			},

			combo_mand_readonly : {
				bordercolor : "#FA006B",
				bgcolor : "#E9F3F8",
				editable: "false"
			},

			spin_readonly : {
				fontcolor : "#000000",
				bgcolor : "#E9F3F8",
				editable: "false"
			},

			spin_mand_readonly : {
				bordercolor : "#FA006B",
				bgcolor : "#E9F3F8",
				editable: "false"
			},

			spin_mand : {
				bordercolor : "#FA006B"
			},

			list_readonly : {
				fontcolor : "#000000",
				bgcolor : "#E9F3F8"
			},

			list_mand_readonly : {
				bordercolor : "#FA006B",
				bgcolor : "#E9F3F8"
			},

			list_mand : {
				bordercolor : "#FA006B"
			},

			cal_readonly : {
				fontcolor : "#000000",
				bgcolor : "#E9F3F8"
			},

			cal_mand_readonly : {
				bgcolor : "#E9F3F8"
			},

			cal_mand : {
				bordercolor : "#FA006B"
			},


			checkbox : {
				bgcolor : "#E9F3F8"	,
				height : "22"
			},

			lbl_grid_title : {
				fontweight : "bold",
				fontcolor : "#2F4256",
				fontsize : 13,
				height : 20
			},

			lbl_board_title : {
				fontweight : "bold",
				fontcolor : "#474747",
				fontsize : 16,
				fontfamily : "NanumGothic",
				halign : "center",
				borderstyle : 'none'
			},

			lbl_board_content : {
				fontweight : "bolder",
				fontsize : 38,
				fontfamily : "NanumGothic",
				halign : "center",
				borderstyle : 'none',
				borderwidth : 1
			},
			radio : {
				height : "22",
				fontsize : 11,

			},

			textarea_mand_readonly : {
				bordercolor : "#FA006B",
				bgcolor : "#E9F3F8",
				readonly: "true"
			},


			textarea_mand : {
				bordercolor : "#FA006B"
			},

			textarea_readonly : {
			    fontcolor : "#000000",
				bgcolor : "#E9F3F8",
				readonly: "true"
			},

			textarea_disable : {
			    fontcolor : "#C3C3C3",
				bordercolor : "#E3E3E3"

			},

			grid_header : {
				fontweight : "bolder",
				fontcolor : "#565D6F",
				bgcolor : "#DFE1E8",
				halign : "center"

			}

		}
	},
	setup : 'compress'
};
