.xw-edit-shell {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100px;
	overflow: hidden;
}

.xw-edit {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 11px;
	padding: 0px 5px;
	border: 1px solid #a3a3a3;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	vertical-align: middle;
	color: #000000;
	box-shadow: inset #dcdcdc 1px 1px 2px;
	-webkit-box-shadow: inset #dcdcdc 1px 1px 2px;
	-moz-box-shadow: inset #dcdcdc 1px 1px 2px;
	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#c1c1c1,direction=135, strength=1); */
	overflow: hidden;
}

.xw-edit:focus {
	border-color: #19a1d6;
	border-width: 1px;
}

.xw-edit-ie-insetshadow-top {
	position: absolute;
	top: 0px;
	left: 3px;
	width: 95%;
	height: 1px;
	box-shadow: #c1c1c1 1px 1px 2px;
}

.xw-edit-ie-insetshadow-left {
	position: absolute;
	top: 3px;
	left: 0px;
	width: 1px;
	height: 95%;
	box-shadow: #c1c1c1 1px 0px 2px;
}