@CHARSET "UTF-8";
/* 
@font-face{
	font-family: 'ng_normal';
	src:url(../../font/NanumGothic.eot);
	src: local('☺'), url(../../font/NanumGothic.woff) format('woff'), url(../../font/NanumGothic.ttf) format('truetype');
}
@font-face{
	font-family: 'ng_bold';
	src:url(../../font/NanumGothicBold.eot);
	src: local('☺'), url(../../font/NanumGothicBold.woff) format('woff'), url(../../font/NanumGothicBold.ttf) format('truetype');
}
@font-face{
	font-family: 'ng_xbold';
	src:url(../../font/NanumGothicExtraBold.eot);
	src: local('☺'), url(../../font/NanumGothicExtraBold.woff) format('woff'), url(../../font/NanumGothicExtraBold.ttf) format('truetype');
} */