.xw-splitbar {
	height: 100%;
	width: 100%;
	border-color: #BFBEBE;
	-moz-user-select: none;
	-webkit-user-select: none;	
}

.xw-splitbar-resizer-ghost {
	background: #999;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.xw-split-icon {
	top: 50%;
	left: 50%;
	position: absolute;
}