/** Grid start *************************************************/
.xw-grid-shell{
	/* overflow:hidden; */
	margin:0;
	padding:0;
	border:0 none;	
}

.xw-grid {
	margin: 0;padding:0;
	border:1px solid #a7abb4;
	height:100%;
	width:100%;
	overflow: hidden; 
}

.xw-grid-area-header{
	overflow:hidden;
	margin:0;
	border-bottom:1px solid #acacac;
	background : #dddddd;
	background: linear-gradient(#f0f0f0, #e0e0e0);
	background: -moz-linear-gradient(#fcfcfc 20%, #e4e4e4 60%, #e4e4e4 90%, #e2e2e2 95%); 
	background: -o-linear-gradient(#fcfcfc 20%, #e4e4e4 60%, #e4e4e4 90%, #e2e2e2 95%);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), color-stop(.6, #e4e4e4), color-stop(.9, #e4e4e4), to(#e2e2e2) );
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#fcfcfc, endColorstr=#e4e4e4);
	height:25px;
	width: 100%;
}

.xw-grid-area-header table{
	margin:0;
	border:0 none;
    border-collapse: separate;	
	table-layout: fixed;
}

.xw-grid-area-header table tr{
	margin:0;
	padding:0;
	height:25px;
}

.xw-grid-area-header table th{
	text-align: center;
	color:#000;
	border-right:1px solid #acacac;
	border-bottom:1px solid #acacac;
	overflow:hidden;	
	padding:0;
	margin:0;
	font-size: 12px;
	font-weight:normal;
}

.xw-grid-area-header table th:hover{
	cursor : pointer;
    border-right: 1px solid #7c9cbe;
	border-bottom: 1px solid #7c9cbe; 
	background: #dcf1fd;
	background: linear-gradient(#fcfeff, #b1d6f7);
	background: -moz-linear-gradient(#fcfeff 20%, #d7eefc 60%, #b1d6f7 85%); 
	background: -o-linear-gradient(#fcfeff 20%, #d7eefc 60%, #b1d6f7 85%);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfeff), color-stop(.2, #fcfeff), color-stop(.6, #d7eefc), to(#b1d6f7) );
    /* filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#fcfeff, endColorstr=#b1d6f7); */
}

.xw-grid-area-header-mousedown-td{
	border:2px solid #afafaf;
}

.xw-grid-column-resizer{
	float:right;
	height:95%;
	width:4px;
	background:transparent;
	margin:-10px 0;
	white-space:nowrap;
	cursor: e-resize;
	z-index:1;
}

.xw-grid-column-resizer:hover{
	background:#689FC1;
	opacity : 0.3;
}

.xw-grid-column-resizer-ghost{
	width:1px;
	background:#999;
	position:absolute;
	top:0px;
}

.xw-grid-area-body{
	margin:0;
	padding:0;
	overflow:auto;
	background-color: #fff;
	height: 100%;
}

.xw-grid-area-body table{
	table-layout: fixed;
	margin:0;
	overflow:hidden;
	border-collapse: separate;
	font-size: 11px;	
}

.xw-grid-area-body tr{
	/* height:22px; /*default row height*/
}

.xw-grid-area-body tbody tr.odd{ 
	/* border-bottom:1px solid #d2d2d2;
	color:#697986;
	background-color:#FFF; */
}

.xw-grid-area-body tbody tr.even{
	/*  border-bottom:1px solid #d2d2d2;
	 color:#697986;	 
	 background-color: #f4f4f4; */
}

.xw-grid-area-body tbody tr:hover{
	/* background-color:#eaeaea; */
}

.xw-grid-area-body tbody tr.select{
	background: #e6f6fa !important;
}

.xw-grid-area-body td{
	color: #000;
	font-size:11px;
	border-right:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
	overflow:hidden;
	padding:0;
	margin:0;
}

.xw-grid-area-body tr.empty{
	background-color:#f1f1f1;
	font-size:11px;
	font-weight:bold;
	color:#000;
	width:100%;
	height:25px;
}

.xw-grid-area-footer{
	margin:0 auto;
	padding:0 auto;
	height:25px;
	color:#000;	
	text-align:center;
	line-height:20px;
	border-top: 1px solid #7e7e7e; 
	background : #e8e8e8;
 	background: linear-gradient(#e4e9f0, #c7d0dd);
	background: -moz-linear-gradient(#f1f1f1, #f0f0f0);
	background: -o-linear-gradient(#f1f1f1, #f0f0f0);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e9f0),	to(#c7d0dd) ); 
}
.xw-grid-area-footer *{
	margin : 0px 2px;
}
.xw-grid-page-icon{
	background-image: url("./img/ui-icons_469bdd_256x240.png");
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    cursor: hand;
}
.xw-grid-page-icon-disabled{
	background-image: url("./img/ui-icons_469bdd_256x240.png");
    cursor: default;
    opacity: 0.5;
}
.xw-grid-page-bar{
	display : inline-block;
	height : 16px;
	cursor : pointer;
	/*border-left : 1px solid #98C8FF;*/
	border-left : 1px solid #7E7E7E;
	border-right : 1px solid #ffffff;
}
.xw-grid-page-text-space{
	display : inline-block;
}
.xw-grid-page-input{
	height : 18px;
	width : 30px;
	text-align : right;
}
.xw-grid-page-icon-first{
	background-position: -80px -160px;
}
.xw-grid-page-icon-prev{
	background-position: -48px -160px;
}
.xw-grid-page-icon-next{
	background-position: -32px -160px;
}
.xw-grid-page-icon-last{
	background-position: -64px -160px;
}
.xw-grid-sort-icon {	
	width: 12px;
	height:12px; 
	display : inline-block;
}
.xw-grid-sort-icon-up{
	background-image : url(img/ui-icons_6da8d5_256x240.png) ;
	background-position:0 -16px;
}
.xw-grid-sort-icon-down{
	background-image : url(img/ui-icons_6da8d5_256x240.png) ;
	background-position:-65px -16px;
}

.xw-grid-area-summary{
	margin:0 auto;
	padding:0 auto;
	height:25px;
	color:#000;	
	text-align:center;
	line-height:20px;
	border-top: 1px solid #d2d2d2; 
	background-color: #f1f1f1;
	overflow: hidden;
}

.xw-grid-area-summary table{
	border:0 none;
    border-collapse: collapse;
	table-layout: fixed;
	/* height: 100%; */
}

.xw-grid-area-summary td{
	border-bottom : 1px solid #D2D2D2;
	border-right : 1px solid #D2D2D2;
	color : #697986;
	margin : 0;
	overflow : hidden;
	padding : 0;
}

.xw-grid-move-column{
	background: linear-gradient(#ffffff, #b8c6d8);
	background: -moz-linear-gradient(#ffffff, #b8c6d8);
	background: -o-linear-gradient(#ffffff, #b8c6d8);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),	to(#b8c6d8) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#b8c6d8);
}

.xw-grid-cell-checkbox{
	display:inline-block;
	background : url('img/checkbox.png') no-repeat scroll 0 0 transparent;
	cursor : pointer;
	height:20px;
	line-height : 20px;
	width: 15px;
	vertical-align : middle;
}

.xw-grid-cell-button{
	background: linear-gradient(#fcfcfc, #e4e4e4,) !important;
	background: -moz-linear-gradient(#fcfcfc 20%, #e4e4e4 60%, #e4e4e4 90%, #e2e2e2 95%) !important; 
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), color-stop(.2, #fcfcfc), color-stop(.6, #e4e4e4), to(#e2e2e2) ) !important;
	background: -o-linear-gradient(#fcfcfc 20%, #e4e4e4 60%, #e4e4e4 90%, #e2e2e2 95%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#fcfcfc, endColorstr=#e2e2e2) !important;
}
.xw-grid-cell-button:hover {
	border: 1px solid #99bfe7 !important;
 	border-bottom: 1px solid #7cabe0 !important;
	background: linear-gradient(#fafcfe, #d1e3f5) !important;
	background: -moz-linear-gradient(#fafcfe 20%, #d4e5f5 60%, #d4e5f5 90%, #d1e3f5 95%) !important; 
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafcfe), color-stop(.2, #fafcfe), color-stop(.6, #d4e5f5), to(#d1e3f5) ) !important;
	background: -o-linear-gradient(#fafcfe 20%, #d4e5f5 60%, #d4e5f5 90%, #d1e3f5 95%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#fafcfe, endColorstr=#d1e3f5) !important;
}

.xw-grid-cell-button:active {
 	border: 1px solid #bfbebe !important;
 	border-bottom: 1px solid #aaaaaa !important;	
	background: #e3f1f6 !important;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e2e2e2), color-stop(.1, #e2e2e2), color-stop(.25, #efefef), to(#fcfcfc) ) !important;
	background: -moz-linear-gradient(#e2e2e2 10%, #efefef 20%, #efefef 40%, #fcfcfc 60%) !important; 
	background: -o-linear-gradient(#e2e2e2 10%, #efefef 20%, #efefef 40%, #fcfcfc 60%) !important;
	background: linear-gradient(#e2e2e2, #fcfcfc) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#e2e2e2, endColorstr=#fcfcfc) !important;
}
/** Grid end *************************************************/
