@CHARSET "EUC-KR";

#pnl_location .ui-draggable .xw-datagrid-area-header {
	overflow:hidden;
	margin:0;
	border-bottom:1px solid #C1C1C3;
	background-color:#fff;
/*background: linear-gradient(#f0f0f0, #e0e0e0);
	background: -ms-linear-gradient(#fcfcfc 20%, #e4e4e4 60%, #e4e4e4 90%, #e2e2e2 95%);
	background: -moz-linear-gradient(#fcfcfc 20%, #e4e4e4 60%, #e4e4e4 90%, #e2e2e2 95%); 
	background: -o-linear-gradient(#fcfcfc 20%, #e4e4e4 60%, #e4e4e4 90%, #e2e2e2 95%);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), color-stop(.6, #e4e4e4), color-stop(.9, #e4e4e4), to(#e2e2e2) );
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#fcfcfc, endColorstr=#e4e4e4);
*/
	height:25px;
	width: 100%;
	
}

#pnl_location .ui-draggable .xw-datagrid{
	background : #fff;
	box-shadow:#514d4d 1px 2px 6px;-moz-box-shadow:#514d4d 1px 2px 6px;
	border:none;border-width:0px !important;}
#pnl_location .ui-draggable .xw-datagrid-area-header table th {
/* 	text-align: center; */
	color: #000;
	border-right: 1px solid #C1C1C3;
	border-bottom: 1px solid #C1C1C3;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	background-color:#fff !important;
}

#pnl_location .ui-draggable .xw-datagrid-area-header table th:hover {
	border-right: 1px solid #C1C1C3;
	border-bottom: 1px solid #C1C1C3;
	/*background: #eaf3f5;*/
	background:#F8F1E7 !important;
/* background: linear-gradient(#fcfeff, #b1d6f7);
	background: -ms-linear-gradient(#fcfeff 20%, #d7eefc 60%, #b1d6f7 85%);
	background: -moz-linear-gradient(#fcfeff 20%, #d7eefc 60%, #b1d6f7 85%);
	background: -o-linear-gradient(#fcfeff 20%, #d7eefc 60%, #b1d6f7 85%);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfeff), color-stop(.2, #fcfeff), color-stop(.6, #d7eefc), to(#b1d6f7) );
	/* filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#fcfeff, endColorstr=#b1d6f7); */
*/
}


